*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.header-color {
  background-color: rgba(0, 188, 212, 1);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.header-bgc {
  /*background-color: rgba(0, 188, 212, 0.6);*/
  margin-left: 100px;
  display: flex;
}

.header-log img {
  width: 90px;
  height: 130px;
  margin: 40px 0 20px 40px;
}

.header-bgc .header-content {
  padding: 40px 0 0 26px;
}

.header-bgc h1 {
  color: #fff;
  margin-top:40px;
  margin-bottom: 10px;
}

.header-bgc .header-int {
  color: #fff;
}

.header-nav-wrap {
  background-color: #0097A7;
  height: 56px;
}

.header-nav-wrap a {
  display: block;
  flex-basis: calc(20% - 40px)
}

.header-nav-wrap ul {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  list-style: none;
}

.header-nav-wrap li {
  flex-basis: calc(20% - 40px);
  text-align: center;
}

.header-nav-wrap li:hover {
  border-bottom: 2px solid #fff;
}

.header-nav-wrap .header-nav-inner a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
}

.bottom-nav-wrap {
  background-color:#0097A7;
}

.bottom-nav-titlt {
  display: flex;
  justify-content:center;
  height:102px;
}

.bottom-nav-titlt p {
  text-align: left;
  color: #fff;
  font-size: 14px;
  line-height: 80px;
  margin-right: 40px;
  font-weight: 700;
}
